body {
    color: pink;
    background-color: green;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.container-gamecard {
    display: grid;
}

.detailPlayer {
    border: solid white;
    text-align: center;
}

input {
    width: 100px;
    height: 30px;
    border-radius: 5px;
    text-align: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 15px;
}